<div>
    <p>Hi <%=token.user.name %></p>
    <br>
    <br>
    <p>Please click on this <a href="http://localhost:8000/users/reset-password/?accesstoken=<%= token.token  %>">link</a> to reset your password</p>
    <br>
    <br>
    <p>Thanks</p>
</div>