<footer>
    <div class="copyright">
        <p class="copyright-notice">
            &copy; Navdeep Singh.All Rights Reserved
        </p>
        <div class="links">
            <a href="/">Home</a>
            <% if(locals.user) { %>
            <a href="/users/profile/<%=locals.user.id%>">Profile</a>
            <% } %>
        </div>
    </div>
</footer>