<form action="/users/new-password/?accesstoken=<%=token.token%>" method="POST">
    <input type="password" placeholder="New Password" name="password">
    <input type="password" name="confirm_password" placeholder="Confirm New Password">
    <input type="submit" value="Change Password">
</form>