footer {
  background-color: gray; }
  footer .copyright {
    display: flex;
    color: white;
    padding: 15px;
    justify-content: space-between; }
    footer .copyright p {
      margin: 0; }
    footer .copyright a {
      color: white;
      text-decoration: none;
      padding: 8px; }
